Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
bson==0.3.3
distribute==0.6.34
docker-py==1.0.0
itsdangerous==0.24
pytz==2014.10
requests==2.4.3
six==1.9.0
websocket-client==0.25.0
wsgiref==0.1.2
