{% extends "base.html" %}
{% set nav="image" %}

{% block breadcrumb %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for("overview") }}">Home</a></li>
        <li class="active">Images</li>
    </ul>

{% endblock %}

{% block main %}

    <h1 class="page-header">Images</h1>
    {#
        TODO: Add statistics, remove pagination duplicate
    #}
    {% include "image/_pagination.html" with context %}
    {% include "image/_table.html" with context %}

    {#
        Search online images

        <h1 class="page-header">Online images</h1>
        {% include "image/_search.html" with context %}
    #}

{% endblock %}

{% block footer_script %}

    <script src="/static/js/harbor.image.search.js"></script>
    <script type="text/javascript">
        // Setup search functionality
        Harbor.Image.Search.Initialize({
            $searchElm: $("#searchImage"),
            $clearElm: $("#clearImage"),
            $inputElm: $("[name=imageName]"),
            $resultElm: $(".list-group")
        });
    </script>

{% endblock %}