{% extends "base.html" %}
{% set nav="image" %}

{% block breadcrumb %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for("overview") }}">Home</a></li>
        <li class="active">Images</li>
    </ul>

{% endblock %}

{% block main %}

    <h1 class="page-header">Images</h1>
    {#
        TODO: Add statistics, remove pagination duplicate
    #}
    {% include "image/_pagination.html" with context %}
    {% include "image/_table.html" with context %}

{% endblock %}

{% block footer_script %}

    <script src="/static/js/image.js"></script>

{% endblock %}