<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">New container</h4>
            </div>

            <div class="modal-body">
                <form id="new_container" class="form-horizontal" method="POST" action="{{ url_for("container.create_container") }}">
                    {# Name #}
                    <div class="form-group">
                        <label for="container_name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="container_name" placeholder="foobar">
                        </div>
                    </div>
                    {# Image #}
                    <div class="form-group">
                        <label for="image" class="col-lg-2 control-label">Image</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="image">
                            {% for image in images %}
                                <option value="{{ image.RepoTags[0] }}">{{ image.RepoTags[0] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button name="action" type="submit" form="new_container" class="btn btn-primary" value="create">Create</button>
                <button name="action" type="submit" form="new_container" class="btn btn-primary" value="create_and_start">Create and Start</button>
            </div>
        </div>
    </div>
</div>