{#
    CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
    650a2aa2b920        ubuntu:latest       "/bin/bash"         6 hours ago         Up 6 hours                              drunk_wright
#}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Container id</th>
            <th>Names</th>
            <th>Command</th>
            <th>Image</th>
            <th>Created</th>
            <th>Status</th>
            <th>Ports</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
                <td>
                    <a href="{{ url_for("container.inspect_container", container_id=container.Id) }}">
                        {{ container.Id|truncate(16, True) }}
                    </a>
                </td>
                <td>{{ container.Names | first }}</td>
                <td>{{ container.Command }}</td>
                <td>{{ container.Image }}</td>
                <td>{{ container.Created | date_string }}</td>
                {% if "Up" in container.Status %}
                    <td class="text-success">{{ container.Status }}</td>
                {% elif "Exited" in container.Status %}
                    <td class="text-danger">{{ container.Status }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    {% for port in container.Ports %}
                        {% if "PublicPort" in port %}
                            <div>
                                <a href="http://{{ port["IP"] }}:{{ port["PublicPort"] }}">
                                    {{ port["Type"] }}:{{ port["PrivatePort"] }} -> {{ port["IP"] }}:{{ port["PublicPort"] }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="{{ url_for("container.start_container", container_id=container.Id) }}">
                                    <span class="glyphicon glyphicon-play succes text-success" aria-hidden="true"></span>
                                    Start
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for("container.stop_container", container_id=container.Id) }}">
                                    <span class="glyphicon glyphicon-off text-warning" aria-hidden="true"></span>
                                    Stop
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for("container.delete_container", container_id=container.Id) }}">
                                    <span class="glyphicon glyphicon-remove-sign text-danger" aria-hidden="true"></span>
                                    Delete
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ url_for("container.delete_container", container_id=container.Id) }}?force=True">
                                    <span class="glyphicon glyphicon-remove-sign text-danger" aria-hidden="true"></span>
                                    Force delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>