{% extends "base.html" %}
{% set nav="container" %}

{% block main %}

    <h1 class="page-header">{{ container.Name }}</h1>

    <h3>{{ container.Id }}</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            {% for arg in container %}
                <tr>
                    <td>{{ arg }}</td>
                    <td>{{ container[arg] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}