{% extends "base.html" %}
{% set nav="container" %}

{% block breadcrumb %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for("overview") }}">Home</a></li>
        <li class="active">Containers</li>
    </ul>

{% endblock %}

{% block main %}

    <h1 class="page-header">Containers</h1>
    {# TODO: Add statistics #}
    {% include "container/_pagination.html" with context %}
    {% include "container/_table.html" with context %}

{% endblock %}

{% block footer_script %}

    <script type="text/javascript">

        $(document).ready(function () {

            $("select[name='image']").on("change", function () {

                var selectedOption = $("option:selected", this),
                    port = selectedOption.data("port"),
                    protocol = selectedOption.data("protocol");

                $("input[name='container_port'], input[name='host_port']").val(port);
                $("option[value='" + protocol + "'").prop("selected", true);
            });

        });
    </script>

{% endblock %}