{% extends "base.html" %}
{% set nav="overview" %}

{% block breadcrumb %}

    <ul class="breadcrumb">
        <li class="active">Home</li>
    </ul>

{% endblock %}

{% block main %}

    <h1 class="page-header">Overview</h1>

    <a href="{{ url_for("update_project") }}" class="btn btn-primary">Update</a>
    <hr />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Version</h3>
        </div>
        <div class="panel-body">
            {% for arg in version | sort %}
                <div>
                    <strong>{{ arg }}: </strong>{{ version[arg] }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
            {% for arg in info | sort %}
                <div>
                    <strong>{{ arg }}: </strong>{{ info[arg] }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}